
.item{

  background-color: yellow;
  border: 10px solid green;
  padding: 10px;


}
.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px 50px;
  place-content: center space-between;
  place-items: start end;
}


